@charset "UTF-8";
html,
body {
  margin: 0;
  padding: 0; }

.bnt {
  color: #ffffff;
  background: #ee3643;
  font-family: 'Cuprum', sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  text-decoration: none; }
  .bnt:hover {
    background: #ca2c37; }
  .bnt:active {
    background: #ba2732; }

.icon {
  position: absolute;
  width: 20px;
  height: 20px; }

.modal {
  display: none; }

@font-face {
  font-family: 'Cuprum';
  src: url("../fonts/cuprum.woff2") format("woff2"), url("../fonts/cuprum.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Cuprum Bold";
  src: url("../fonts/cuprumbold.woff2") format("woff2"), url("../fonts/cuprumbold.woff") format("woff");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: "Cuprum Italic";
  src: url("../fonts/cuprumitalic.woff2") format("woff2"), url("../fonts/cuprumitalic.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans.woff2") format("woff2"), url("../fonts/ptsans.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "PT Sans Bold";
  src: url("../fonts/ptsansbold.woff2") format("woff2"), url("../fonts/ptsansbold.woff") format("woff");
  font-weight: bold;
  font-style: normal; }

.main-header {
  background: #f3f7f9;
  padding-bottom: 60px; }

.column-top {
  background: #293449; }

.column-top__inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 940px;
  padding: 0 10px;
  margin: 0 auto; }

/*расположение логотипа*/
.column-top__logo {
  position: absolute;
  top: 0;
  left: 10px; }

.logo {
  padding: 9px 55px;
  font-family: 'Cuprum', sans-serif;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  background: #ee3643;
  border-bottom: 5px solid #b52933; }
  .logo:hover {
    background: #ca2c37; }
  .logo:active {
    background: #ba2732; }

/*расположение формы*/
.column-top__form-search {
  margin-left: 219px; }

.column-top__user-links {
  margin-left: auto; }

.form-search {
  position: relative; }

.form-search__input {
  width: 270px;
  padding-top: 10px;
  padding-bottom: 14px;
  padding-left: 50px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: none;
  outline: none;
  background: #293449; }
  .form-search__input:hover {
    background: #212a3a; }
  .form-search__input:focus {
    background: #ffffff; }
  .form-search__input:hover + .form-search__icon {
    fill: #ffffff; }
  .form-search__input:focus + .form-search__icon {
    fill: #ee3643; }

.form-search__icon {
  position: absolute;
  top: 10px;
  left: 15px;
  width: 17px;
  height: 17px;
  fill: rgba(255, 255, 255, 0.5); }

/*placeholder*/
.form-search__input::-webkit-input-placeholder {
  font-family: 'Cuprum', sans-serif;
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
  opacity: 1; }

/* webkit */
.form-search__input::-moz-placeholder {
  font-family: 'Cuprum', sans-serif;
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
  opacity: 1; }

/* Firefox 19+ */
.form-search__input:-moz-placeholder {
  font-family: 'Cuprum', sans-serif;
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
  opacity: 1; }

/* Firefox 18- */
.form-search__input:-ms-input-placeholder {
  font-family: 'Cuprum', sans-serif;
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
  opacity: 1; }

/* IE */
.form-search__input:focus::-webkit-input-placeholder {
  color: #000000;
  opacity: 1; }

/* webkit */
.form-search__input:focus::-moz-placeholder {
  color: #000000;
  opacity: 1; }

/* Firefox 19+ */
.form-search__input:focus:-moz-placeholder {
  color: #000000;
  opacity: 1; }

/* Firefox 18- */
.form-search__input:focus:-ms-input-placeholder {
  color: #000000;
  opacity: 1; }

/* IE */
.user-links {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end; }

.user-links__item {
  position: relative;
  padding: 10px 35px;
  padding-left: 40px;
  color: #ffffff;
  font-family: 'Cuprum', sans-serif;
  font-size: 17px;
  line-height: 18px;
  text-decoration: none; }
  .user-links__item:hover {
    background: #212a3a; }
  .user-links__item:hover .user-links__icon {
    fill: white; }
  .user-links__item:active {
    background: #161d29;
    opacity: 0.7; }
  .user-links__item:active .user-links__icon {
    fill: rgba(255, 255, 255, 0.7); }

.user-links__item--order {
  padding: 10px 20px;
  background: #63a63e; }
  .user-links__item--order:hover {
    background: #5fbb2d; }
  .user-links__item--order:active {
    background: #518534; }

.user-links__icon {
  position: absolute;
  left: 12px;
  width: 20px;
  width: 20px;
  height: 20px;
  fill: rgba(255, 255, 255, 0.5); }

.column-middle {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 960px;
  margin: 0 auto; }

/*распожение слогана*/
.column-middle__slogan {
  margin-top: 45px;
  margin-left: 60px; }

.slogan {
  width: 215px;
  color: #ee3643;
  font-family: 'Cuprum Italic', sans-serif;
  font-size: 16px;
  line-height: 23px;
  font-weight: normal; }

/*распожение контактных данных*/
.column-middle__contacts {
  margin-top: 22px;
  margin-left: 55px; }

.contacts__phone {
  position: relative;
  padding: 10px 50px;
  padding-left: 70px;
  margin-bottom: 0;
  color: #ee3643;
  font-family: 'Cuprum', sans-serif;
  font-size: 21px;
  line-height: 21px;
  text-align: center;
  border: 3px solid #ffffff; }

.contacts__address {
  margin-top: 5px;
  color: #32425c;
  font-family: 'Cuprum', sans-serif;
  font-size: 14px;
  line-height: 24px;
  text-align: center; }

.contacts__icon {
  position: absolute;
  left: 10px;
  width: 20px;
  height: 20px; }

/*user-nav*/
.column-middle__user-nav {
  margin-left: auto; }

.user-nav {
  width: 335px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end; }

.user-nav__link {
  position: relative;
  margin-right: 10px;
  margin-top: 45px;
  height: 20px;
  margin-bottom: 5px;
  padding: 12px 25px;
  font-family: 'Cuprum', sans-serif;
  font-size: 21px;
  line-height: 21px;
  text-decoration: none;
  text-align: center;
  color: #000000;
  background: #ffffff; }
  .user-nav__link:hover {
    color: #ee3643; }
  .user-nav__link:active {
    color: rgba(0, 0, 0, 0.3); }

.user-nav__link--login {
  padding-left: 45px; }
  .user-nav__link--login:hover .user-nav__icon {
    fill: #32425c; }
  .user-nav__link--login:active .user-nav__icon {
    fill: rgba(50, 66, 92, 0.2); }

.user-nav__icon {
  top: 12px;
  left: 12px;
  fill: rgba(50, 66, 92, 0.2); }

/*user-nav в catalog.html*/
.user-nav__link--user {
  padding: 12px 43px;
  padding-right: 70px; }

.user-nav__sublink {
  margin-top: -5px;
  margin-bottom: 10px;
  color: #32425c;
  font-family: 'Cuprum', sans-serif;
  font-size: 16px;
  line-height: 18px; }

.user-nav__icon--user,
.user-nav__icon--login {
  width: 20px;
  height: 20px;
  fill: rgba(50, 66, 92, 0.2); }

.icon {
  fill: red; }

.user-nav__icon--user {
  top: 13px;
  left: 13px; }

.use-nav__icon--login {
  top: 15px;
  right: 10px; }

.site-nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 940px;
  padding: 0 10px;
  margin: 0 auto;
  margin-top: 25px; }

.site-nav__link {
  padding: 19px 30px;
  font-family: 'Cuprum', sans-serif;
  font-size: 17px;
  line-height: 17px;
  color: #ffffff;
  background: #32425c;
  border-bottom: 5px solid #293449;
  text-decoration: none; }
  .site-nav__link:hover {
    background: #293449; }
  .site-nav__link:active {
    color: rgba(255, 255, 255, 0.6); }

.site-nav__link:nth-child(1) {
  padding-left: 53px; }

.site-nav__link:nth-child(7) {
  padding-right: 52px;
  padding-left: 35px; }

/*promo*/
.promo {
  width: 940px;
  padding: 0 10px;
  margin: 0 auto;
  margin-top: 57px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  position: relative; }

.promo__block {
  position: relative;
  width: 300px;
  height: 125px;
  margin-left: 20px;
  margin-bottom: 20px;
  color: #ffffff;
  /*нумерация сделана для того, чтобы вставка одинаковых элементов не ломала сетку*/ }
  .promo__block:nth-child(1) {
    -webkit-box-ordinal-group: -3;
    -webkit-order: -4;
    -ms-flex-order: -4;
    order: -4; }
  .promo__block--theme-material {
    background: #ffbf47; }
  .promo__block:nth-child(2) {
    -webkit-box-ordinal-group: -2;
    -webkit-order: -3;
    -ms-flex-order: -3;
    order: -3; }
  .promo__block--theme-tool {
    background: #3bbce3; }
  .promo__block:nth-child(2) {
    -webkit-box-ordinal-group: -1;
    -webkit-order: -2;
    -ms-flex-order: -2;
    order: -2; }
  .promo__block--theme-technic {
    -webkit-box-ordinal-group: -1;
    -webkit-order: -2;
    -ms-flex-order: -2;
    order: -2;
    background: #dc91d8; }
  .promo__block--theme-discount {
    background: #8ed78f; }
  .promo__block--theme-delivery {
    background: #ffc047; }

.promo__block:nth-child(1) {
  margin-left: 0; }

.promo__block:nth-child(5) {
  position: absolute;
  right: 10px;
  top: 287px; }

.promo__icon {
  position: absolute;
  right: 15px;
  top: 35px;
  width: 90px;
  height: 70px;
  fill: #ffffff; }

.promo__block--theme-material .promo__icon {
  right: 0; }

.promo__block--theme-discount .promo__icon {
  top: 25px; }

.promo__title {
  margin-left: 22px;
  margin-bottom: 10px;
  font-family: 'Cuprum Bold', sans-serif;
  font-size: 24px;
  line-height: 30px; }

.promo__link {
  display: block;
  width: 136px;
  padding: 10px 0;
  margin-left: 20px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #ffffff;
  background: rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 3px;
  border-radius: 3px;
  font-family: 'Cuprum Bold', sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center; }
  .promo__link:hover {
    background: rgba(178, 178, 178, 0.4); }
  .promo__link:active {
    background: rgba(178, 178, 178, 0.6); }

/*расположение слайдера*/
.promo__slider {
  -webkit-box-ordinal-group: 0;
  -webkit-order: -1;
  -ms-flex-order: -1;
  order: -1; }

.slider {
  position: relative;
  width: 620px;
  height: 265px;
  margin-bottom: 20px; }

.slider__slide {
  position: absolute;
  margin: 0;
  top: 0;
  left: 0;
  display: none; }

.slider__slide--active {
  display: block; }

.slider__title {
  position: absolute;
  top: -13px;
  left: 22px;
  font-family: 'Cuprum Bold', sans-serif;
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
  color: #ffffff; }

.slider__text {
  position: absolute;
  top: 42px;
  left: 25px;
  font-family: 'PT Sans', sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff; }

.slider__link {
  position: absolute;
  bottom: 25px;
  left: 25px;
  padding: 10px 48px;
  -webkit-border-radius: 5px;
  border-radius: 5px; }

.slider__toggles {
  position: absolute;
  bottom: 35px;
  left: 295px;
  z-index: 2; }

.slider__toggle {
  display: inline-block;
  width: 6px;
  height: 6px;
  margin-right: 6px;
  font-size: 0;
  background: #ffffff;
  border: 2px solid #ffffff;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  cursor: pointer; }

.slider__toggle--active {
  background: #ee3643; }

.slider__bnt {
  position: absolute;
  top: 110px;
  font-size: 0;
  background: transparent;
  border: none;
  cursor: pointer; }

.slider__next {
  right: 5px; }

.slider__prev {
  left: 18px; }

.slider__icon {
  width: 30px;
  height: 45px;
  fill: #ffffff; }

.popular-goods {
  width: 940px;
  padding: 0 10px;
  margin: 0 auto;
  margin-top: 35px; }

.popular-goods__list {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-top: 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.popular-goods__item {
  position: relative;
  width: 218px;
  min-height: 310px;
  margin-right: 20px;
  border: 1px solid #eaeaea;
  font-family: 'PT Sans Bold', sans-serif;
  font-size: 17px;
  line-height: 18px;
  text-align: center; }
  .popular-goods__item:nth-child(4n) {
    margin-right: 0; }
  .popular-goods__item--new::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 60px;
    height: 60px;
    background: url("../img/new-flag.png") no-repeat;
    z-index: 2; }
  .popular-goods__item:hover {
    -webkit-box-shadow: 0px 5px 22px -1px #665c55;
    box-shadow: 0px 5px 22px -1px #665c55; }
  .popular-goods__item:hover .popular-goods__hover {
    display: block; }

.popular-goods__title {
  margin-top: 15px;
  margin-bottom: -5px;
  padding: 0 20px;
  font-size: 18px;
  line-height: 20px; }

.popular-goods__old-price {
  color: #a9a9a9;
  text-decoration: line-through;
  cursor: default; }

.popular-goods__price {
  display: inline-block;
  position: absolute;
  bottom: 21px;
  left: 45px;
  padding: 10px 30px;
  margin-bottom: -5px;
  color: #ffffff;
  background: #ee3643;
  cursor: default; }

.popular-goods__price::after {
  content: "";
  position: absolute;
  top: 1px;
  right: -36px;
  border: 18px solid transparent;
  border-left: 18px solid #ee3643; }

/*всплывающий блок*/
.popular-goods__hover {
  display: none;
  position: absolute;
  top: 0;
  left: 7px;
  width: 200px;
  height: 150px;
  background: #ffffff; }

.popular-goods__link {
  display: block;
  width: 130px;
  height: 35px;
  padding-top: 8px;
  padding-left: 8px;
  margin: 0 auto;
  margin-bottom: 7px;
  color: #32425c;
  font-family: 'Cuprum', sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  text-decoration: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 3px;
  border-radius: 3px; }

.popular-goods__link--buy {
  position: relative;
  margin-top: 40px;
  color: #ffffff;
  background: #63a63e;
  border-bottom: 3px solid #367315; }
  .popular-goods__link--buy:hover {
    background: #5fbb2d; }
  .popular-goods__link--buy:hover .popular-goods__icon {
    fill: white; }
  .popular-goods__link--buy:active {
    background: #518534; }

.popular-goods__link--mark {
  margin-top: 10px;
  border: 3px solid #63a63e; }
  .popular-goods__link--mark:hover {
    border: 3px solid #32425c; }
  .popular-goods__link--mark:active {
    opacity: 0.4; }

.popular-goods__icon {
  top: 7px;
  left: 15px;
  width: 20px;
  height: 20px;
  fill: rgba(255, 255, 255, 0.6); }

.pop-block {
  width: 940px;
  padding: 5px 0;
  background: #f9f5f0;
  -webkit-border-radius: 5px;
  border-radius: 5px; }

.popular-brands__block {
  margin-top: 20px;
  padding: 6px 0; }

.pop-title {
  display: inline-block;
  margin-left: 30px;
  color: #32425c;
  font-family: 'Cuprum', sans-serif;
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase; }

.popular__link {
  display: inline-block;
  float: right;
  margin-right: 24px;
  margin-top: 19px;
  padding: 10px 55px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border: none; }

.popular-brands .popular__link {
  margin-top: 22px;
  padding: 11px 70px; }

.popular-brands {
  width: 940px;
  padding: 0 10px;
  margin: 0 auto; }

.popular-brands__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.popular-brands__item {
  width: 220px;
  height: 145px;
  margin-top: 20px;
  margin-right: 17px;
  border: 1px solid #eaeaea; }
  .popular-brands__item:hover {
    -webkit-box-shadow: 0px 5px 22px -1px #665c55;
    box-shadow: 0px 5px 22px -1px #665c55; }

.popular-brands__item:nth-child(4n) {
  margin-right: 0; }

.popular-brands__link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%; }

.popular-brands img {
  margin: auto; }

.services {
  background: #f4f8fa;
  margin-top: 80px; }

.services__wrapper {
  width: 940px;
  padding: 0 10px;
  margin: 0 auto;
  border: 1px solid transparent; }

.services__title {
  margin-top: 65px;
  margin-bottom: 30px;
  font-family: 'Cuprum', sans-serif;
  font-size: 30px;
  line-height: 30px;
  font-weight: normal;
  text-transform: uppercase; }

.services__text {
  width: 400px;
  font-family: 'PT Sans', sans-serif;
  font-size: 13px;
  line-height: 24px; }

.services__list {
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;
  width: 240px;
  margin-top: 69px;
  margin-bottom: 100px; }
  .services__list:after {
    content: "";
    position: absolute;
    top: -35px;
    right: 0;
    height: 300px;
    width: 10px;
    background: url(../img/line.png) no-repeat; }

.services__link {
  display: block;
  padding: 15px;
  padding-left: 22px;
  font-family: 'Cuprum Bold', sans-serif;
  font-size: 21px;
  line-height: 30px;
  text-decoration: none;
  color: #ffffff;
  background: #32425c;
  border-bottom: 1px solid #4d637b; }
  .services__link:nth-last-child(1) {
    border-bottom: 0; }
  .services__link:hover {
    background: #293449; }
  .services__link--active {
    color: #4d637b;
    background: #ffffff;
    cursor: default; }
    .services__link--active:hover {
      background: #ffffff; }

.services-popup {
  display: none;
  position: absolute;
  top: -5px;
  left: 320px;
  height: 285px;
  width: 620px; }

.services-popup--active {
  display: block; }

.services-popup--delivery {
  background: url(../img/services-1.png) no-repeat;
  background-position: 100% 100%; }
  .services-popup--delivery .services-popup__text {
    width: 278px; }

.services-popup--guarantee {
  background: url(../img/services-2.png) no-repeat;
  background-position: 100% 100%; }
  .services-popup--guarantee .services-popup__text {
    width: 381px; }

.services-popup--loan {
  background: url(../img/services-3.png) no-repeat;
  background-position: 100% 100%; }
  .services-popup--loan .services-popup__text {
    width: 295px; }
  .services-popup--loan .services-popup__link {
    display: inline-block;
    padding: 10px 50px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    margin-top: 15px; }

.services-popup__title {
  margin-top: 0;
  margin-bottom: 30px;
  font-family: 'Cuprum Bold', sans-serif;
  font-size: 36px;
  line-height: 36px;
  font-weight: normal;
  color: #32425c;
  text-transform: uppercase; }

.services-popup__text {
  font-family: 'PT Sans', sans-serif;
  font-size: 13px;
  line-height: 24px; }

.base-info {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 940px;
  padding: 0 10px;
  padding-bottom: 87px;
  margin: 0 auto;
  margin-top: 45px; }

.info-title {
  margin-bottom: 25px;
  font-family: 'Cuprum', sans-serif;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase; }

.info-text {
  margin-bottom: 25px;
  font-family: 'PT Sans', sans-serif;
  font-size: 13px;
  line-height: 24px; }

.company-info {
  width: 520px; }

.company-info__link {
  display: inline-block;
  margin-top: 17px;
  padding: 10px 40px;
  -webkit-border-radius: 3px;
  border-radius: 3px; }

.transport-company__list {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-top: -5px; }

.transport-company__item {
  position: relative;
  margin-left: 35px;
  margin-bottom: 20px;
  font-family: 'Cuprum', sans-serif;
  font-size: 18px;
  line-height: 20px; }

.transport-company__item::before {
  content: "";
  position: absolute;
  top: 9px;
  left: -35px;
  width: 25px;
  height: 2px;
  background: #ee3643; }

.contacts-info {
  width: 300px; }

.contacts-info__link {
  display: inline-block;
  padding: 10px 61px;
  margin-top: 38px;
  -webkit-border-radius: 3px;
  border-radius: 3px; }

.footer {
  background: #32425c; }

/*верхняя часть подвала*/
.footer__column-top {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: relative;
  width: 940px;
  padding: 0 10px;
  margin: 0 auto;
  padding-bottom: 30px; }

.footer__logo {
  position: absolute;
  left: 10px;
  font-size: 30px;
  line-height: 30px;
  padding: 17px 42px; }

.footer__contacts {
  display: inline-block;
  width: 340px;
  margin-top: 80px;
  font-family: 'Cuprum', sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff; }

.footer__address {
  margin-bottom: 0; }

.footer__phone {
  margin-top: 0; }

/*нижняя часть подвала*/
.footer__column-bottom {
  background: #293449; }

.footer__inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 940px;
  padding: 0 10px;
  margin: 0 auto;
  padding-bottom: 5px;
  font-family: 'Cuprum', sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff; }

.footer__text {
  margin-top: 37px; }

.copyright {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  width: 400px;
  margin-top: 20px; }

.copyright__link {
  margin-right: 10px;
  margin-left: 45px; }

.copyright__link a {
  color: #ffd180;
  text-decoration: none; }
  .copyright__link a:hover {
    text-decoration: underline;
    text-decoration-skip-ink: none; }
  .copyright__link a:active {
    color: #ee3643;
    text-decoration: none; }

.footer-nav {
  width: 620px; }

.footer-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-top: 35px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end; }

.footer-nav__link {
  margin-left: 58px;
  font-family: 'Cuprum', sans-serif;
  font-size: 18px;
  line-height: 24px;
  text-decoration: none; }
  .footer-nav__link:hover {
    text-decoration: underline;
    text-decoration-skip-ink: none; }
  .footer-nav__link:active {
    opacity: 0.5;
    text-decoration: none; }

.footer-nav__list--top .footer-nav__link {
  color: #ffffff; }

.footer-nav__list--bottom .footer-nav__link {
  color: #ffd180; }

.footer__social {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 145px;
  margin-top: 35px;
  margin-left: 145px;
  padding-bottom: 30px; }

.social__link {
  position: relative;
  width: 40px;
  height: 40px;
  margin-left: 5px;
  background: #212a3a;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  font-size: 0; }
  .social__link:hover, .social__link:active {
    background: #ee3643; }

.social__icon {
  position: absolute;
  width: 25px;
  height: 25px;
  fill: #ffffff; }

.social__icon--vk {
  top: 13px;
  left: 7px; }

.social__icon--fb {
  top: 8px;
  left: 13px; }

.social__icon--inst {
  top: 10px;
  left: 10px; }
